venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.log
*.zip
*.bin
*.pt
*.pth
*.md
.env
node_modules/
t5_finetuned/
qa_fine_tuned/
flan_t5_finetuned/
uploads/*.pdf
uploads/*.jpg
uploads/*.zip
static/images/huge_image.jpg

